</div>
<!-- End of Main Content -->
<div id="page-bottom"></div>
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>

</div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <form method="POST" action="/logout">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Logout">
                    <div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Candidate Upload</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" action="/candidate/upload" enctype="multipart/form-data">
                    
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                        application/vnd.ms-excel">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    
                    <input type="submit" class="btn btn-primary mt-1" value="Upload" >
                    <div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    </div>
                    
                </form>
        
      </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script>
    var name = localStorage.getItem('name');
        if (name === 'null') {
            $.ajax({
                type: 'GET',
                url: '/ajax/userName',
                success: function (res) {
                    var name = res.name;
                    localStorage.setItem('name', name);
                    document.getElementById("_name").innerHTML = name;
                    document.getElementById("_character").innerHTML = name.charAt(0);
                },
                error: function (res) {
                    console.log("Error occur while ajax call!")
                }
            });

        } else {
            document.getElementById("_name").innerHTML = name;
            document.getElementById("_character").innerHTML = name.charAt(0);
        }             
</script>
</body>

</html>