<div class="container grid-list">

    <div class="footer-brand">

        <a href="#" class="logo">
            <img src="/assets/2 TPP Logos/Placement Park Logo Inverted.png" width="154" height="134" alt="Adex home">
        </a>
        <!-- 
      <p class="footer-text">
        &copy; 2023 The Placement Park <br> All rights reserved.
      </p> -->

        <ul class="social-list" style="margin-top: 40px;">

            <li>
                <a href="https://facebook.com/theplacementpark/" target="_blank" class="social-link"
                    style="color:#3b5998;">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/company/65595236" target="_blank" class="social-link"
                    style="color: #00acee;">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://wa.me/919885563355" target="_blank" class="social-link" style="color: #25D366;">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </li>

            <li>
                <a href="https://instagram.com/theplacementpark" target="_blank" class="social-link"
                    style=" border-radius: 30%; background:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);;">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>

        </ul>
        <div class="footer-list">


            <p class="footer-text">
                &copy; 2023 Placement Park <br> All Rights Reserved
            </p>



        </div>

    </div>

    <ul class="footer-list" style="width: auto;">

        <li>
            <p class="h4 footer-list-title">Get in Touch</p>
        </li>

        <li>
            <address class="footer-text">
                Office: The Placement Park, 50-75-27, Ganesh Nagar, Satyam Junction, Vizag 530016
            </address>
        </li>

        <li>
            <address class="footer-text">
                Office: The Placement Park, KSR Towers, 6th Floor, Beside Indian Oil Pump, Madhapur, Hyderabad 500081
            </address>
        </li>

        <!-- <li>
        <a href="mailto:info@email.com" class="footer-link">info@email.com</a>
      </li>

      <li>
        <a href="tel:001234567890" class="footer-link">00 (123) 456 78 90</a>
      </li> -->

    </ul>
    <!-- 
    <ul class="footer-list">

      <li>
        <p class="h4 footer-list-title">Learn More</p>
      </li>
      <li>
        <a href="#" class="footer-link"> Home</a>
      </li>

      <li>
        <a href="#" class="footer-link"> Companies</a>
      </li>

      <li>
        <a href="#" class="footer-link">Our Story</a>
      </li>

      <li>
        <a href="#" class="footer-link">Colleges</a>
      </li>

      <li>
        <a href="#" class="footer-link">Privacy Policy</a>
      </li>

    </ul> -->

    <!-- <div class="footer-list">

      <p class="h4 footer-list-title">Our CEO</p>

      <p class="footer-text">
        SharukhTirumani Co-Founder & CEO <br> The Placement Park
      </p>

      <li>
        <a href="mailto:" class="footer-link">Sharukh@theplacementpark.com</a>
      </li>

      <li>
        <a href="tel:" class="footer-link">+91 985563355</a>
      </li>


    </div> -->
    <div class="footer-list" style="width: auto;">


        <li>
            <p class="h4 footer-list-title">Contact</p>
        </li>

        <p class="footer-text">
            The Placement Park
        </p>
        <li>
            <a href="tel: +91 9885563355" class="footer-link" style="font-size: 1.8rem;">+91 9885563355</a>
        </li>


        <li>
            <a href="mailto:sharukh@theplacementpark.com" class="footer-link"
                style="font-size: 1.8rem;">sharukh@theplacementpark.com</a>
        </li>





    </div>


</div>
<div class="read-more-container">



    <div class="container" style="padding-top: 20px;">
        <p>
            <strong>Security Advice: </strong> At no point in the hiring process does The Placement Park charge a
            candidate a fee or money, and neither do we permit our staff to collect a fee from a candidate. We want to
            make it absolutely clear that these contacts are only the work of imposters who want to defraud the
            candidates. The Placement Park has not given any individual permission to collect payments of any type from
            job seekers for our business or for anybody else involved in the hiring process.
            <span class="read-more-text">
                There are no fees associated with recruitment or interviewing at The Placement Park. Only official email
                addresses will be used for any correspondence with offer letters. The Placement Park, an expert in the
                field of HR services is always looking for talent. Please be aware, though, that there are some
                individuals posing as representatives of The Placement Park who demand payment in exchange for
                interviews or jobs with The Placement Park or its clients by using the company name The Placement Park
                or the names of our employees incorrectly. Additionally, these individuals are illegally utilising the
                firm's registered trademark by creating fraudulent and replicated websites to legitimise their actions
                and deceive unsuspecting prospects into falling for their traps.
            </span>
        </p>
        <span class="read-more-btn" style="cursor: pointer;">Read More...</span>
    </div>
</div>