<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>TPP</title>
  <meta name="title" content="TPP">


  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/bpo.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-bg.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slide-1.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slide-2.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slide-3.jpg">

</head>
<style>
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);

}



.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  border-radius: 10px;
  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.cards {
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
  .cards{
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.cards:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:before {
  background-image: url(assets/images/pexels-fauxels-3184465.jpg);
}
.cards:before {
  background-image: url(assets/images/buildings.jpg);
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}



@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .cards:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 9.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .cards:focus-within:before, .cards:focus-within:after,
.cards:focus-within .content,
.cards:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
  .cards:hover,
.cards:focus-within {
    align-items: center;
  }
  .cards:hover:before,
.cards:focus-within:before {
    transform: translateY(-4%);
  }
  .cards:hover:after,
.cards:focus-within:after {
    transform: translateY(-50%);
  }
  .cards:hover .content,
.cards:focus-within .content {
    transform: translateY(0);
  }
  .cards:hover .content > *:not(.title),
.cards:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .cards:focus-within:before, .cards:focus-within:after,
.cards:focus-within .content,
.cards:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}


  .clientwrapper {
      display: flex;
      align-items: center;
      margin:auto;
    }
    .clientslider {
      width: 80%;
      height: 100px;
      position: relative;
      background: white;
      align-items: center;
      margin: auto;
      align-items: center;
      margin: auto;
      
      /* box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2); */
      display: flex;
      overflow: hidden;
    }
    .clientslide {
     background-color: black;
      height: 100px;
      display: flex;
      align-items: center;
      animation: slideshow 60s linear infinite;
    }
    .clientslide img {
      height: 100px;
      border: 3px solid white;
      background: white;
      padding: 0 30px 0 30px;
    }
    @keyframes slideshow {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
    .clientslider::before, .slider::after {
      height: 100px;
      width: 200px;
      position: absolute;
      content: "";
      /* background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%); */
      z-index: 2;
    }
    .clientslider::before {
      left: 0;
      top: 0;
    }
    .clientslider::after {
      right:0;
      top:0;
      
      transform: rotateZ(180deg);
    }
    .grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
  border-radius: var(--radius-8);
}

/* Common style */
.grid figure {
  
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: black;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);

	min-height: 100%;
	max-width: 100%;

}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: black;
}

figure.effect-julia img {
  opacity: 0.3;
  background: linear-gradient(rgba(15,25,65,0) 33%,rgb(15,25,65) 100%);
	max-width: none;
	height: 400px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: black;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	/* opacity: 0.4; */
  opacity: 0.5;
  filter: blur(3px); 
  transition-duration: 0.5s;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 24));
  }
}
.slider {
  /* height: 100px; */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 24);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
/* 2 */
.slider{
	/* position: relative; */
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: auto;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 20%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */




/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: auto;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}
  
.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 30px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
  
.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 20px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
}
/* /6 */




</style>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

  <%- include("header") %>

</header>



  <main>
    <article>

      <!-- 
        - #HERO
      -->
      <section class="section hero has-bg-image" aria-label="home"
      style="background-image: url('/assets/images/hero-bg.jpg'); padding-top: 120px; padding-bottom: 0px; " >
      <div class="slider">
        <!-- fade css -->
        <div class="myslide fade">
    
          <img src="assets/Home Page Carosuel/Carosel Photo New 1.jpg" style="width: 100%; ">
        </div>
        
        <div class="myslide fade">
    
          <img src="assets/Home Page Carosuel/Carosel Photo New 2.jpg" style="width: 100%; ">
        </div>
        
        <div class="myslide fade">
    
          <img src="assets/Home Page Carosuel/Carosel Photo New 3.jpg" style="width: 100%;">
        </div>
        
        <div class="myslide fade">
    
          <img src="tpp/Website Carousel Slide 4.jpg" style=" width: 100%;">
        </div>

        <div class="myslide fade">
    
          <img src="assets/Home Page Carosuel/Carosel Photo New 5.jpg" style="width: 100%; ">
        </div>
        <!-- /fade css -->
        
        <!-- onclick js -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
<!--         
        <div class="dotsbox" style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div> -->
        <!-- /onclick js -->
      </div>
      <div class="hero-content" style="text-align: left; padding:30px ">



          <h2 class="h2 section-title" style=" margin-top: 20px; text-align: center; color: white;line-height: 1.7;   border-top-left-radius: 30px;   border-top-right-radius: 30px;
          border-bottom-left-radius: 30px;" >

Our Vision & Mission are to make Talent Acquisition easy for every Company and help Job Seekers find Amazing Career Opportunities.
 </h2>
            <!-- <h2 class="h2 section-title"  style=" margin-left: 80px; margin-top: 20px; padding: 15px; background-color: white;  border-bottom-right-radius: 30px;   border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;">for every company and help job seekers find amazing career opportunities..</h2> -->

        <p class="h2 section-title" style="color: white; padding-top: 30px;">

          </p>

        <div class="btn-wrapper" style="justify-content: left;">

          <!-- <a href="#" class="btn btn-primary">Explore Now</a> -->

          <!-- <a href="#" class="btn btn-outline">Contact Us</a> -->

        </div>

      </div>
      
    </section>





      <!-- 
        - #SERVICE
      -->




      <!-- 
        - #ABOUT
      -->






      <!-- 
        - #FEATURE
      -->

      <!-- <section class="section feature" aria-labelledby="feature-label" style="background-color: #FEE600; padding-top: 60px; padding-bottom: 60px;">
        <div class="container">

          <figure class="feature-banner">
            <img src="./assets/images/3d-casual-life-trophy-and-target.png" width="800" height="531" loading="lazy" alt="feature banner"
              class="w-100" style="width: 300px;">
          </figure>

          <div class="feature-content">

            <p class="section-subtitle" id="feautre-label" style="color:#0f1941; letter-spacing: 2px;">The Placement Park</p>

            <h2 class="h2 section-title" style="color: black">
              Mission and Vision
            </h2>

            <p class="hero-text" style="color: black;">
              Our Vision and Mission are to make talent acquisition easy for every company & help job seekers find amazing career oppurtunities
              </p>



          </div>

        </div>
      </section> -->





      <!-- 
        - #STATS
      -->






      <!-- 
        - #PROJECT
      -->

      <!-- <section class="section project" aria-labelledby="project-label">
        <div class="container">

          <p class="section-subtitle" id="project-label">Case Studies</p>

          <h2 class="h2 section-title">
            Check out some of our awesome projects with creative ideas and great design.
          </h2>

          <ul class="grid-list">

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 560; --height: 350;">
                  <img src="./assets/images/blog-1.jpg" width="560" height="350" loading="lazy"
                    alt="Ligula tristique quis risus" class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Ligula tristique quis risus</a>
                  </h3>

                  <p class="card-text">
                    Mauris convallis non ligula non interdum. Gravida vulputate convallis tempus vestibulum cras
                    imperdiet nun eu dolor.
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="meta-text" datetime="2022-04-14">14 Apr 2022</time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="document-text-outline" aria-hidden="true"></ion-icon>

                      <span class="meta-text">Coding</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 560; --height: 350;">
                  <img src="./assets/images/blog-2.jpg" width="560" height="350" loading="lazy"
                    alt="Nullam id dolor elit id nibh" class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Nullam id dolor elit id nibh</a>
                  </h3>

                  <p class="card-text">
                    Mauris convallis non ligula non interdum. Gravida vulputate convallis tempus vestibulum cras
                    imperdiet nun eu dolor.
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="meta-text" datetime="2022-03-29">29 Mar 2022</time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="document-text-outline" aria-hidden="true"></ion-icon>

                      <span class="meta-text">Workspace</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 560; --height: 350;">
                  <img src="./assets/images/blog-3.jpg" width="560" height="350" loading="lazy"
                    alt="Ultricies fusce porta elit" class="img-cover">
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Ultricies fusce porta elit</a>
                  </h3>

                  <p class="card-text">
                    Mauris convallis non ligula non interdum. Gravida vulputate convallis tempus vestibulum cras
                    imperdiet nun eu dolor.
                  </p>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                      <time class="meta-text" datetime="2022-02-26">26 Feb 2022</time>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="document-text-outline" aria-hidden="true"></ion-icon>

                      <span class="meta-text">Meeting</span>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section> -->



      <section class="about" aria-labelledby="about-label" style=" padding-bottom: 45px; padding-top: 45px;">
        <h2 class="h2 section-title" style="text-align: center; color: black; padding:5px;">
          Discover a vast range of Job Opportunities or <br> find the Right Talent for your Company through our Services.</h2>
        <div class="container">


          <figure class="about-banner">
            <div class="card" style="height:400px;">
              <div class="content">
                <h2 class="title" style="margin-bottom: 10px;">For Job Seekers</h2>
                <a href="/home/job" class="btn btn-outline">Apply for Job</a>
              </div>
            </div>
          </figure>

          <div class="about-content">
            <div class="cards" style="height: 400px;">
              <div class="content" >
                <h2 class="title" style="margin-bottom: 10px;" >For Companies</h2>
                <a href="/home/company" class="btn btn-outline">Find the Right Talent</a>
              </div>
            </div>
              </div>

        </div>
      </section>

      







        <!-- client Scrolling -->


        <section class="section project" aria-labelledby="project-label" style="padding-top: 60px; padding-bottom: 60px;" >
         
          <h2 class="h2 section-title" style="color: black; padding-bottom: 30px; margin-bottom: 0px;">
            "Powering Success: Trusted and Partnered by India's Top Companies"
          </h2>
          <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/assets/3_Client_Logos/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/7.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/8.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/9.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/10.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/11.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/12.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/13.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/14.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/15.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/16.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/17.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/18.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/19.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/20.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/21.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/22.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/23.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/24.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/assets/3_Client_Logos/7.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/8.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/9.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/10.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/11.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/12.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/13.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/14.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/15.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/16.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/17.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/18.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/19.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/20.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/21.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/22.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/23.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="/assets/3_Client_Logos/24.png" height="100" width="250" alt="" />
		</div>
    
	</div>
</div>

</section>







    
    





      <!-- 
        - #CTA
      -->
<!-- 
      <section class="cta" aria-label="call to action">
        <div class="container">

          <h2 class="h2 section-title">
            Join our community by using our services and grow your business.
          </h2>

          <a href="#" class="btn btn-primary">Try it For Free</a>

        </div>
      </section> -->

    </article>
  </main>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="padding-bottom: 60px; background-color: black;" >
    <%- include("footer") %>


  </footer>

  <script>

    
const parentContainer =  document.querySelector('.read-more-container');

parentContainer.addEventListener('click', event=>{

    const current = event.target;

    const isReadMoreBtn = current.className.includes('read-more-btn');

    if(!isReadMoreBtn) return;

    const currentText = event.target.parentNode.querySelector('.read-more-text');

    currentText.classList.toggle('read-more-text--show');

    current.textContent = current.textContent.includes('Read More') ? "Read Less..." : "Read More...";

})



    function scrollUp(){
      const scrollUp = document.getElementById('scroll-up');
      // When the scroll is higher than 400 viewport height, add the show-scroll class to the a tag with the scroll-top class
      if(this.scrollY >= 0) scrollUp.classList.add('show-scroll'); else scrollUp.classList.remove('show-scroll')
  }
  window.addEventListener('scroll', scrollUp)
  </script>
            <!--=============== SCROLL UP ===============-->
            <a href="https://api.whatsapp.com/send?phone=919885563355&amp;text= Hi, More Information about The Placement Park" target="_blank" class="scrollup" id="scroll-up"> 
              <ion-icon id="sup" name="logo-whatsapp"></ion-icon>
            </a>






  <!-- 
    - custom js link
  -->
  <script src="/assets/js/script.js"></script>

  <!-- 
    - ionicon
  -->
  <script>

    const myslide = document.querySelectorAll('.myslide'),
        dot = document.querySelectorAll('.dot');
    let counter = 1;
    slidefun(counter);
    
    let timer = setInterval(autoSlide, 8000);
    function autoSlide() {
      counter += 1;
      slidefun(counter);
    }
    function plusSlides(n) {
      counter += n;
      slidefun(counter);
      resetTimer();
    }
    function currentSlide(n) {
      counter = n;
      slidefun(counter);
      resetTimer();
    }
    function resetTimer() {
      clearInterval(timer);
      timer = setInterval(autoSlide, 8000);
    }
    
    function slidefun(n) {
      
      let i;
      for(i = 0;i<myslide.length;i++){
        myslide[i].style.display = "none";
      }
      for(i = 0;i<dot.length;i++) {
        dot[i].className = dot[i].className.replace(' active', '');
      }
      if(n > myslide.length){
         counter = 1;
         }
      if(n < 1){
         counter = myslide.length;
         }
      myslide[counter - 1].style.display = "block";
      dot[counter - 1].className += " active";
    }
      </script>
    
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>